# Global configuration
device: auto
experiment_name: "mnist_lightning"

# Experiment config
max_epochs: 5

# WeightsLab services
serving_grpc: true
serving_cli: true
serving_ui: false

# H5 persistence for fast data loading
enable_h5_persistence: true

# Start Training from scratch
is_training: false

# Data loaders configuration
data_root: ../datasets/mnist
data:
  train_loader:
    batch_size: 64
    shuffle: true
    num_workers: 4
  val_loader:
    batch_size: 64
    shuffle: false
    num_workers: 4

# Optimizer configuration
optimizer:
  lr: 0.001
